apiVersion: apps/v1
kind: Deployment
status: { }
metadata:
  name: {{ .Values.app.stack_name }}
spec:
  replicas: {{ .Values.app.pod.min }}
  progressDeadlineSeconds: 300
  selector:
    matchLabels:
      app: {{ .Values.app.stack_name }}
  template:
    metadata:
      labels:
        app: {{ .Values.app.stack_name }}
    spec:
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: app
                    operator: In
                    values:
                      - {{ .Values.app.stack_name }}
              topologyKey: "kubernetes.io/hostname"
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 50
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: app
                      operator: In
                      values:
                        - {{ .Values.app.stack_name }}
                topologyKey: "topology.kubernetes.io/zone"
      serviceAccountName:  {{ .Values.app.stack_name }}
      terminationGracePeriodSeconds: 30
      shareProcessNamespace: true
      restartPolicy: Always
      containers:
        - image: "{{ .Values.image.url }}/{{ .Values.image.name }}:{{ .Values.image.tag }}"
          imagePullPolicy: Always
          name: "app"
          ports:
            - containerPort: {{ .Values.app.pod.port }}
          livenessProbe:
            httpGet:
              path: {{ .Values.app.pod.healthCheckPath }}
              port: {{ .Values.app.pod.port }}
            timeoutSeconds: 10
            initialDelaySeconds: {{ .Values.app.pod.initialHealthCheckDelay }}
          readinessProbe:
            httpGet:
              path: {{ .Values.app.pod.healthCheckPath }}
              port: {{ .Values.app.pod.port }}
            timeoutSeconds: 10
            initialDelaySeconds: {{ .Values.app.pod.initialHealthCheckDelay }}
            successThreshold: 2
          resources:
            requests:
              memory: {{ .Values.app.resources.requests.memory }}
              cpu: {{ .Values.app.resources.requests.cpu }}
            limits:
              memory: {{ .Values.app.resources.limits.memory }}
              cpu: {{ .Values.app.resources.limits.cpu }}
          env:
            - name: FLUENTD_HOST
              value: "127.0.0.1"
            - name: FLUENTD_PORT
              value: "24224"
            {{- if .Values.app.service.observability.endpoint }}
            - name: OTEL_RESOURCE_ATTRIBUTES
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.app.secretName }}
                  key: OTEL_RESOURCE_ATTRIBUTES
            {{ end }}
          envFrom:
            - secretRef:
                name: {{ .Values.app.secretName }}
            {{- range .Values.app.database_secret_names_to_use }}
            - secretRef:
                name: {{ . }}
            {{- end }}
          securityContext:
            capabilities:
              drop:
                - all
{{- if .Values.app.service.observability.endpoint }}
        - name: beyla
          image: grafana/beyla:latest
          resources:
            requests:
              memory: "256Mi"
              cpu: "125m"
            limits:
              memory: "256Mi"
              cpu: "125m"
          securityContext: # Privileges are required to install the eBPF probes
            privileged: true
          env:
            - name: BEYLA_NETWORK_METRICS
              value: "true"
            - name: OTEL_TRACES_SAMPLER
              value: "always_on"
            - name: BEYLA_SERVICE_NAME
              value: "{{ .Values.app.stack_name }}"
            - name: BEYLA_OPEN_PORT
              value: "{{ .Values.app.pod.port }}"
            - name: BEYLA_KUBE_METADATA_ENABLE
              value: "true"
            - name: OTEL_EXPORTER_OTLP_METRICS_ENDPOINT
              value: "http://{{ .Values.app.service.observability.endpoint }}:4318/v1/metrics"
            - name: OTEL_EXPORTER_OTLP_TRACES_ENDPOINT
              value: "http://{{ .Values.app.service.observability.endpoint }}:4318/v1/traces"
        - name: otel-collector
          image: otel/opentelemetry-collector-contrib:0.117.0
          securityContext: # Privileges are required to install the eBPF probes
            privileged: true
          resources:
            requests:
              memory: "256Mi"
              cpu: "125m"
            limits:
              memory: "256Mi"
              cpu: "125m"
          env:
            - name: OTEL_RESOURCE_ATTRIBUTES
              value: "service.name={{ .Values.app.stack_name }},deployment.environment={{ .Release.Namespace }}"
            - name: K8S_NODE_NAME  # Needed for kubeletstats
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
          args: [ "--feature-gates=receiver.kubeletstats.enableCPUUsageMetrics","--config=/etc/otel-collector-config.yaml" ]
          volumeMounts:
            - mountPath: /etc/otel-collector-config.yaml
              name: otel-config
              subPath: otel-collector-config.yaml
      volumes:
        - configMap:
            defaultMode: 420
            items:
              - key: collector.yaml
                path: otel-collector-config.yaml
            name: otel-collector-config-{{ .Values.app.stack_name }}
          name: otel-config
---
apiVersion: v1
kind: ConfigMap
immutable: false
metadata:
  name: otel-collector-config-{{ .Values.app.stack_name }}
data:
  collector.yaml: |
    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:4317
          http:
            endpoint: 0.0.0.0:4318
      kubeletstats:
        collection_interval: 10s
        auth_type: serviceAccount
        endpoint: "https://${env:K8S_NODE_NAME}:10250"  # Talks to Kubelet
        insecure_skip_verify: true
        metric_groups:
          - pod
          - container
        metrics:
          k8s.pod.cpu_limit_utilization:
            enabled: true
          k8s.pod.memory_limit_utilization:
            enabled: true
          k8s.pod.cpu_request_utilization:
            enabled: true
          k8s.pod.memory_request_utilization:
            enabled: true
          k8s.pod.uptime:
            enabled: true
    processors:
      batch:
      resourcedetection:
        detectors: [ env, eks ]
    exporters:
      otlp/metrics:
        endpoint: {{ .Values.app.service.observability.endpoint }}:4317
        tls:
          insecure: true
      otlp/traces:
        endpoint: {{ .Values.app.service.observability.endpoint }}:4317
        tls:
          insecure: true
    extensions:
      health_check:
        endpoint: 0.0.0.0:13133
    service:
      extensions: [health_check]
      pipelines:
        traces:
          receivers: [otlp]
          processors: [resourcedetection,batch]
          exporters: [otlp/traces]
        metrics:
          receivers: [otlp,kubeletstats]
          processors: [resourcedetection,batch]
          exporters: [otlp/metrics]
{{ end }}